name: prochat-server-dev

services:
  valkey:
    image: valkey/valkey:8.1-alpine
    ports:
      - "6379:6379"
    volumes:
      - valkey_data:/data
    restart: unless-stopped
    command: [ "valkey-server", "--save", "300 1", "--appendonly", "yes" ]
  
  postgres:
    image: postgres:17.6-alpine
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  valkey_data: