name: prochat-server-dev

services:
  valkey:
    image: valkey/valkey:8.1-alpine
    ports:
      - "6379:6379"
    volumes:
      - valkey_data:/data
    command: [ "valkey-server", "--save", "300 1", "--appendonly", "yes" ]
  
  postgres:
    image: postgres:17.6-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    entrypoint: sh
    command: -c 'mkdir -p /data/${AWS_S3_BUCKET} && /usr/bin/minio server /data --console-address ":9001"'
    environment:
      - MINIO_ROOT_USER=${AWS_ACCESS_KEY_ID}
      - MINIO_ROOT_PASSWORD=${AWS_SECRET_ACCESS_KEY}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "mc", "ready", "local" ]
      interval: 5s
      timeout: 5s
      retries: 5


volumes:
  postgres_data:
  valkey_data:
  minio_data:
